.wrapper {
    max-width: 50rem;
    width: 90%;
    margin: 0 auto;
}


header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 5rem 0 4rem 0;

    & h1.main-header {
        font-family: $script-font-family;
        font-size: 650%;
        margin-bottom: 0;
        line-height: 1;
    }

    & small {
        font-family: $serif-font-family;
        color: $grey;
    }

    & .dash {
        font-family: $serif-font-family;
        margin-top: 2rem;
        padding: 0.5rem 0.5rem;

        background: $text-color;
        color: $text-color-inv;

        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 25rem) {
    body {
        font-size: 70%;
    }
    header h1.main-header {
        font-size: 450%;
    }
    article {
        & div.spacer {
            flex-shrink: 0;
            width: 2rem;
        }
    }
}

article {
    display: flex;
    flex-direction: row;

    & .right, & .left {
        flex: 1;
    }

    & .right {
        p {
            margin-bottom: 0;
            font-family: monospace;
            font-size: 120%;
            line-height: 1.7;
        }
    }

    & .spacer {
        flex-shrink: 0;
        width: 5rem;
    }
}